@font-face {
    font-family: 'Young-serif' ;
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: 'Outfit' !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      color:hsl(24, 5%, 18%) !important 
}
body {
    background-color: hsl(330, 100%, 98%);
    padding: 100px 0;
}
.container {
    margin: auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 15px;
}
.img-container {
    width: 100%;
    margin-bottom: 20px; /* Adjust this to control spacing around the image */
}
.img-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
} 
h2{
    font-family: 'Young-serif' !important;
    color:hsl(24, 5%, 18%) !important;
    font-size:50px;
    padding: 10px;
    font-weight: 200px;
}
p{
    font-family: 'Outfit' !important;
    font-weight: 200;
    font-size: 16px;
    padding:10px;
    color:hsl(30, 10%, 34%) !important
}
.pb-30{
    padding-bottom: 30px !important;
}
ul{
    list-style-type: none; /* Remove default bullets */
    padding-left: 0;
   /* margin-bottom: 20px; /* Adjust this to control spacing around lists */
}
ul li {
    font-size: 16px;
    color:hsl(30, 10%, 34%);
    position: relative;
    padding-left: 40px; /* Adjust as needed */
    margin-bottom:15px;
}
ul li strong{
    color:hsl(30, 10%, 34%) !important  ;
    font-size: 16px !important;
}
  
ul li::before{
  
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-60%);
    width: 5px; /* Adjust as needed */
    height: 5px; /* Adjust as needed */
    background-color: hsl(30, 10%, 34%);
    border-radius: 50%; /* Change to a different shape if needed */
}
.prep{
    padding:30px !important;
    background:#fff7fc;
    border-radius: 15px;
}
.prep h4{
    font-family:'Outlet';
    padding:20px;
    color:hsl(332, 51%, 32%) !important
} 
 h3{
    font-family: 'Young-serif' !important;
    color: hsl(14, 45%, 36%) !important;
    padding:10px 20px ;
    font-size: 22px;
    font-weight: 500;
 }
 ol {
    list-style-type: none;
    list-style-position: inside; 
     }

ol li {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    position: relative;
    padding-left: 50px; /* Adjust as needed */
    margin-bottom: 15px;
}

ol li strong {
    color: hsl(30, 10%, 34%) !important;
    font-size: 16px !important;
}

ol li:before {
    content: counter(list-item) ".";
    position: absolute;
    left: 20px; /* Move the numbers to the left */
    top: 10px;
    transform: translateY(-50%);
    font-weight: bold;
    color: hsl(14, 45%, 36%) !important; /* Set the color for the numbers */
}
.pl-20{
    padding-left: 20px !important;
}
.simple-table{
    width: 100%;
    padding: 10px;
}
.simple-table tr td{
    border-bottom: 1px solid hsl(30, 54%, 90%) ;
    padding: 10px 30px ;
    color: hsl(30, 10%, 34%) !important 
}
.simple-table tr td:last-child{
color:hsl(14, 45%, 36%) !important;
font-weight: 600;
font-size: 16px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }